<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MP1 Keypad App</display-name>
  <welcome-file-list>
    <welcome-file>getUserInfo.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>GetUserTelcoServlet</servlet-name>
  	<servlet-class>controller.GetUserTelcoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetUserTelcoServlet</servlet-name>
    <url-pattern>/getInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DisplayInfoServlet</servlet-name>
  	<servlet-class>view.DisplayInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DisplayInfoServlet</servlet-name>
    <url-pattern>/displayInfo</url-pattern>
  </servlet-mapping>
</web-app>